src/HtmlAgilityPackExtensions.QuerySelector.Lib/obj/
src/HtmlAgilityPackExtensions.QuerySelector.Lib/bin/
src/HtmlAgilityPackExtensions.QuerySelector.Lib.Tests/obj/
src/HtmlAgilityPackExtensions.QuerySelector.Lib.Tests/bin/
src/.vs/
